<html>
<head>
    <title>Easy Cheesy!</title>
    <link rel="stylesheet" href="/css/landing.css">  
</head>
<body>
    <section class="showcase">
        <header>
        <h2 class="logo"><img src="/img/logoGIF.gif" style="width: 12vh;height:12vh;cursor: pointer"></h2>
        <section class="toggle"></section> 
        </header>
        <video src="/img/homepageFinal.mp4" muted autoplay></video>
    <!-- <div class="overlay"></div> -->
        <div class="text">
            <h2>Easy Cheesy </h2> 
            <h5>Create and Order your Own Dream Pizza!</h5>
            <p> Hey You, Our Mozarella Fella! Tired of finding the Perfect Pizza with the flawless combination of toppings, crust, sauce and cheese?
                There's always something missing, right? That one element that ruins your mood? <br> So here we come, your Pizza Geneie! 
                Create and Customize your own Pizza, and we deliver the Pizza of your Dreams at your Doorsteps in a Jiffy! 
                You can even get the chance of Naming your own Pizza and it can also get Featured among our Bestsellers!
                We pledge to offer you The Most Mind-blowing, Mouth-watering and Finest Quality Meal Experience at the Best Prices.  
                What are You Waiting for? Hurry UP! Get your Slice of Paradise NOW! </p>
            <a href="#">Order Now</a>
        </div>
        <ul class="social">
            <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li> <!--https://imgbb.com/-->
            <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
            <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </section>
    <div class="menu">
        <ul>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Create Your Own Pizza</a></li>
        <li><a href="#">Terms And Conditions</a></li>
        <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <script src="js/homePage.js"></script>
</body>
</html>